html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main {
  @include position(fixed, 0% null 0% 0%);
  width: 100vw;
  background: $base-background-color;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
